#lvlCanvas {
    border: 1px solid black;
    width: 1436px; 
    height: 640px; 

    position: absolute; 
    top: 0; right: 0; 
    bottom: 0; left: 0;
    margin: auto; 

}

#output {
    height: 320px;
    width: inherit;
}



