html
{
    background-color: white;
}

#lvlCanvas {
    height: 640px;
    width: inherit;
    border: 1px solid black;
}

#output {
    height: 320px;
    width: inherit;
}

.centered{
    width: 1436px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: block;
}

.values{
    position: absolute;
    left: 1400px;
    top: 420px;
    width:300px;
    height:200px;
}
.values input[type="text"] {
    width:50px;
}

