doctype html 5
html
	head
		title Ontropy Editor
		meta(charset='utf-8')
		meta(name='product', content='ontropy editor')
		meta(name='description', content='A simple drag&drop editor for ontropy levels')
		meta(name='author', content='Benjamin Sauer, Munich, Germany')
		//link(rel='stylesheet', href='stylesheets/ontropyedit.css')
		link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/cover.css')
	block content